<%- include('partials/header'); -%>
<title>Jeunesse Avance - Agenda</title>
</head>
<body>
    <%- include('partials/navbar'); %>
<h1>Agenda</h1>
<div class="col-offset-1 col-10">
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBrussels&amp;src=dGVhcmV4d2Vic2hvcEBnbWFpbC5jb20&amp;src=ZnIuYmUjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%230B8043&amp;hl=en&amp;title=Tea-Rex%20Activities%20Agenda&amp;showCalendars=0&amp;showTabs=1&amp;showPrint=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>    
</div>
<%- include('partials/footer'); -%>
<%- include('partials/scripts'); %>
</body>
</html>