<nav class="navbar-nav navbar-expand mt-3 d-flex align-items-center">
    <div class="col-lg-6 d-flex align-items-center justify-content-around ">
        <span>LOGO </span>
        <span class="titreUltime"> Jeunesse Avance </span>
    </div>
    <!-- Navbar que sur les grands écrans -->
    <div class="col-lg-6">
        <ul class="navbar-nav d-flex align-items-center justify-content-around d-none">
            <li class="nav-item d-none d-md-block navbarButton px-3"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item d-none d-md-block navbarButton px-3"><a class="nav-link" href="/team">Equipe</a></li>
            <li class="nav-item d-none d-md-block navbarButton px-3"><a class="nav-link" href="/activities">Activités</a></li>
            <li class="nav-item d-none d-md-block navbarButton px-3"><a class="nav-link" href="/calendar">Agenda</a></li>
            <li class="nav-item d-none d-md-block navbarButton px-3"><a class="nav-link" href="/contact">Contact</a></li>
            <!-- Dropdown ne se montre que sur les petits écrans -->
            <li class="nav-item dropdown d-md-none">
                <a class="nav-link dropdown-toggle navbarButton" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Navigate
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-dark" href="/home">Home</a>
                    <a class="dropdown-item text-dark" href="/team">Equipe</a>
                    <a class="dropdown-item text-dark" href="/activities">Activités</a>
                    <a class="dropdown-item text-dark" href="/calendar">Agenda</a>
                    <a class="dropdown-item text-dark" href="/contact">Contact</a>
                </div>
            </li>
        </ul>
    </div>
</nav>