<%- include('partials/header'); -%>
<title>Jeunesse Avance - Equipe</title>
</head>
<body>
    <%- include('partials/navbar'); %>
<h1>Equipe</h1>
<%- include('partials/footer'); -%>
<%- include('partials/scripts'); %>
</body>
</html>