<%- include('partials/header'); -%>
<title>Jeunesse Avance - Equipe</title>
</head>

<body>
    <%- include('partials/navbar'); %>
    <h1>Equipe</h1>
    <!-- Team -->
    <section id="team" class="pb-5">
        <div class="container">

            <div class="row">
                <!-- Team member -->
                <div class="col-12 col-lg-4 mb-3">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/abel-pic.webp" alt="card image"></p>
                                        <h4 class="card-title">Abel Magolu</h4>
                                        <p class="card-text">
                                            Co-fondateur & Président du Conseil d’Administration
                                        </p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Abel Magolu</h4>
                                        <p class="card-text">
                                            Adepte du marketing et de la communication.
                                        </p>
                                        <p class="card-text">
                                            Passionné de sport.
                                        </p>
                                        <p class="card-text">
                                            Prof, par ailleurs.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-12 col-lg-4 mb-3">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/mohammed-pic.webp" alt="card image"></p>
                                        <h4 class="card-title">Mohamed El Fakiri</h4>
                                        <p class="card-text">
                                            Co-fondateur & Délégué à la vie journalière
                                        </p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Mohamed El Fakiri</h4>
                                        <p class="card-text">
                                            Assistant social et éducateur spécialisé, Mohamed est actif dans le secteur
                                            de l'aide à la jeunesse et en maison de jeunes (12-26 ans).

                                            Il a toujours veillé à ce que les jeunes s'épanouissent et deviennent les
                                            plus autonomes possible.

                                            Passionné par l'éducation permanente et la citoyenneté, Mohamed participe
                                            régulièrement à des projets socio-culturels avec des groupes de jeunes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-12 col-lg-4 mb-3">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/Mohamed-pic.webp" alt="card image"></p>
                                        <h4 class="card-title">Mohamed Lafquiri</h4>
                                        <p class="card-text">
                                            Professeur (école de devoirs)
                                        </p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Mohamed Lafquiri</h4>
                                        <p class="card-text">
                                            text
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-12 col-lg-4 mb-3">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/Arnaud Du bus.jpg" alt="card image"></p>
                                        <h4 class="card-title">Arnaud Dubus</h4>
                                        <p class="card-text">
                                            Co-fondateur & Trésorier
                                        </p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Arnaud Dubus</h4>
                                        <p class="card-text">
                                            text
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-12 col-lg-4 mb-3">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/Hind Rguioui.jpg" alt="card image"></p>
                                        <h4 class="card-title">Hind Rguioui</h4>
                                        <p class="card-text">
                                            Professeur (école de devoirs)
                                        </p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Hind Rguioui</h4>
                                        <p class="card-text">
                                            text
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-12 col-lg-4 mb-3">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="" alt="card image"></p>
                                        <h4 class="card-title">Bettina Hesbois</h4>
                                        <p class="card-text">
                                            Animatrice
                                        </p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Bettina Hesbois</h4>
                                        <p class="card-text">
                                            text
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->


            </div>
        </div>
    </section>
    <!-- Team -->


    <%- include('partials/footer.ejs'); %>

</body>

</html>