<%- include('head.ejs'); %>
<title>Equipe</title>
</head>

<body>
    <%- include('navbar.ejs'); %>
    <h1>Equipe</h1>
    <!-- Team -->
    <section id="team" class="pb-5">
        <div class="container">

            <div class="row">
                <!-- Team member -->
                <div class="col-12 col-lg-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/abel-pic.webp" alt="card image"></p>
                                        <h4 class="card-title">Abel Magolu</h4>
                                        <p class="card-text">
                                            Sa phrase-clé : à l’impossible, nul n’est tenu… mais rien n’est impossible !
                                        </p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Abel Magolu</h4>
                                        <p class="card-text">
                                            Professeur bénévole au sein d'écoles de devoirs, Abel est
                                            un habitué de l’accompagnement pédagogique et du soutien scolaire.
                                            C’est également un animateur, passionné de sport, de culture et de
                                            sociologie.
                                            Il collabore avec plusieurs associations, actives aussi bien dans le milieu
                                            de la jeunesse que dans les domaines du sport et de la santé.
                                        </p>
                                        <!-- <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-12 col-lg-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/mohammed-pic.webp" alt="card image"></p>
                                        <h4 class="card-title">Mohamed El Fakiri</h4>
                                        <p class="card-text">Sa phrase-clé: les jeunes d'aujourd'hui sont les adultes de
                                            demain.</p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Mohamed El Fakiri</h4>
                                        <p class="card-text">
                                            Assistant social et éducateur spécialisé, Mohamed est actif dans le secteur
                                            de l'aide à la jeunesse et en maison de jeunes (12-26 ans).
                                            Il a toujours veillé à ce que les jeunes s'épanouissent et deviennent les
                                            plus autonomes possible.
                                            Passionné par l'éducation permanente et la citoyenneté, Mohamed participe
                                            régulièrement à des projets socio-culturels avec des groupes de jeunes.
                                        </p>
                                        <!-- <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-12 col-lg-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="/Mohamed-pic.webp" alt="card image"></p>
                                        <h4 class="card-title">Mohamed Lafquiri</h4>
                                        <p class="card-text">Sa phrase-clé : On peut aussi bâtir quelque chose de beau
                                            avec les pierres qui entravent le chemin.</p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                                                class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Mohamed Lafquiri</h4>
                                        <p class="card-text">
                                            Professeur de mathématiques au sein d’une école secondaire, Mohamed a
                                            travaillé dans le milieu associatif.
                                            Son objectif est de lutter contre l'inégalité scolaire, poussez les jeunes à
                                            réaliser leurs rêves, se fixer des objectifs ambitieux et les atteindre.
                                            Passionné de sport, de culture et de travaux intergénérationnels et
                                            socio-culturels.
                                        </p>
                                        <!-- <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank"
                                                    href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->


            </div>
        </div>
    </section>
    <!-- Team -->

    <%- include('partials/footer.ejs'); %>

</body>

</html>