.navbarButton{
    all:unset;
    background-color: #79001E;
    border-radius: 3px;
    color : white;
}
.navbarButton:hover{
    background-color: #003379;
}

.navbarButtonActive{
    background-color: #003379;
}
.nav-link{
    color : white;
}

.nav-link:hover{
    color:white
}

.titreUltime{
    font-size: 200%;
    color:#003379
}