.navbarButton{
    all:unset;
    background-color: #640A20;
    border-radius: 3px;
    color : white;
}
.navbarButton:hover{
    background-color: #EBDFE2;
    color : #640A20
}
.nav-link{
    color : white;
}

.nav-link:hover{
    color:#640A20
}

.titreUltime{
    font-size: 280%;
    color:#640A20
}